#home{
    height: 500px;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url("https://www.topgear.com/sites/default/files/news-listicle/image/2021/12/18.%20Koenigsegg%20Jesko.jpg?w=848&h=477");
}